body {
    color: #999;
}

.box {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(4, 150px);
  }
  
  .field {
    grid-column: span 1;
    grid-row: span 1;
    background-color: lightgreen;
    border: 2px solid green;
  }
  
  .goblin {
    background-image: url("/src/img/goblin.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }